body {
  background-color: #222323;
  color: #FFF;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.heading {
  text-align: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.container {
  position: relative;
}

.gameContainer {
  height: 456px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.squareButtonNoShow {
  height: 150px;
  width: 150px;
  background-color: #222323;
  font-size: 4rem;
  text-align: center;
  color: #222323;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 0.2px solid grey;
}

.squareButtonShow {
  height: 150px;
  width: 150px;
  background-color: #222323;
  font-size: 4rem;
  text-align: center;
  color: #FFF;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 0.2px solid grey;
}

.controlRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
}

.controlRow .col {
  margin: 0 10px;
  display: grid;
  align-items: center;
  font-size: 1rem;
}

.controlRow .col button {
  background-color: orange;
  color: #FFF;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .gameContainer {
      height: 366px;
      width: 360px;
    }
    .squareButtonNoShow {
      height: 120px;
      width: 120px;
    }
  
    .squareButtonShow {
      height: 120px;
      width: 120px;
    }
}

@media screen and (max-width: 350px){
  .gameContainer {
    height: 246px;
    width: 240px;
  }

  .squareButtonNoShow {
      height: 80px;
      width: 80px;
    }
  
    .squareButtonShow {
      height: 80px;
      width: 80px;
    }
}
