body {
  background-color: #222323;
  color: #FFF;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.container {
  position: relative;
}

.heading {
  text-align: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

.gameContainer {
  height: 456px;
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square {
  height: 150px;
  width: 150px;
  background-color: #222323;
  font-size: 4rem;
  text-align: center;
  color: #FFF;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  cursor: pointer;
}

.controlRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 70px;
}

.controlRow .col {
  margin: 0 10px;
  display: grid;
  align-items: center;
  font-size: 1rem;
}

.controlRow .col button {
  background-color: orange;
  color: #FFF;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* WIDTH */

@media screen and (max-width: 1180px){
  .gameContainer {
      height: 366px;
      width: 360px;
    }
  
    .square {
      height: 120px;
      width: 120px;
    }
}

@media screen and (max-width: 380px){
  .gameContainer {
    height: 246px;
    width: 240px;
  }

  .square {
    height: 80px;
    width: 80px;
  }
}

/* HEIGHT */ 

@media screen and (max-height: 1480px) {
  .heading {
    top: 400px;
  }

  .controlRow {
    bottom: 400px;
  }
}

@media screen and (max-height: 1280px){
  .heading {
    top: 180px;
  }

  .controlRow {
    bottom: 180px;
  }
}

@media screen and (max-height: 1000px) {
  .heading {
    top: 100px;
  }

  .controlRow {
    bottom: 100px;
  }
}

@media screen and (max-height: 800px){
  .heading {
      top: 50px;
  }
  
    .controlRow {
      bottom: 50px;
    }
}


