.container {
  border: 1px solid green;
  margin-top: 40px;
  width: 300px;
}

.row {
  border: 1px solid blue;
}

.col {
  border: 1px solid green;
  padding: 20px 0;
  height: 100%;
  width: 33%;
}

.button {
  width: 40px;
  height: 40px;
}