body {
  background-color: #222323;
  color: #FFF;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.squareCol {
  height: 150px;
  width: 150px;
  text-align: center;
}

.squareButton {
  height: 150px;
  width: 150px;
  background-color: #222323;
  margin-top: -2px;
  font-size: 4rem;
  color: #FFF;
  border: 0.2px solid #FFF;
  text-align: center;
  color: red;
  line-height: 1;
}

.controlRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.controlRow .col {
  margin: 0 10px;
  display: grid;
  align-items: center;
  font-size: 1rem;
}

.controlRow .col button {
  background-color: orange;
  color: #FFF;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .gameContainer {
      grid-template-columns: repeat(3, 120px);
    }

    .squareCol {
      height: 120px;
      width: 120px;
    }
  
    .squareButton {
      height: 120px;
      width: 120px;
    }
}

@media screen and (max-width: 350px){
  .gameContainer {
    grid-template-columns: repeat(3, 80px);
  }

  .squareCol {
    height: 80px;
    width: 80px;
  }

  .squareButton {
    height: 80px;
    width: 80px;
  }
}
